*, *::before, *::after {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $main-bg;
    font-family: 'Space Mono', monospace;    
}

header {
    margin-top: 3.125rem;
    margin-bottom: 2.5rem;

    @include breakpoint-up(medium) {
        margin-top: unset;
        margin-bottom: 5.5rem;
    }
}

label {
    display: block;
}

.hidden {
    display: none;
}