*, *::before, *::after {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: $main-bg;
    font-family: 'Space Mono', monospace;    
}

main {
    width: 100%;
}

header {
    margin-top: 3.125rem;
    margin-bottom: 2.5rem;
    text-align: center;

    @include breakpoint-up(large) {
        margin-top: unset;
        margin-bottom: 5.5rem;
    }
}

label {
    display: block;
}

.hidden {
    display: none;
}