$main-bg: #C5E4E7;
$app-bg: #FFFFFF;
$result-bg: #00474B;
$input-bg: #F3F9FA;

$input-hover: #26C2AE;

$font-dark: #5E7A7D;
$font-med: #7F9D9F;
$font-light: #FFF;
$font-accent: #26C2AE;

$tipVal-bg: #00474B;
$tipVal-bg-hover: #9FE8DF;
$tipVal-bg-selected: #26C2AE;

$reset-bg: #26C2AE;
$reset-hover: #9FE8DF;
$reset-disabled: #0D686D;

$errror: #E17457;